.dark{
  background-color: rgb(60, 17, 101);
  color: white;
  text-align: justify;
  padding: 20px;
}

.light{
  background-color: aliceblue;
  color: black;
  text-align: justify;
  padding: 20px;  
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.navbar>img{
  height: 60px;
}
button{
  border-radius: 10px;
  margin: 5px;
}